img {
  width: 20%;
  height: auto;
}

#walrus-showing {
  display: none;
}

#lion-hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}